
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  background: skyblue;

}

.container{

  width:75%;

  margin: auto;

  text-align:center;

}

h1{

  margin:20px;

  font-size:60px;

  color: white

}


.dice-area{

  margin:200px 70px;

  text-align: center;
  
  display:inline-block;

}

p{


  font-size: 40px;
  color: black;


}

img {

  width: 300px;

  
}